

 
               <tbody>
             <% for( var contador = 0; contador < users.length; contador++) {%>
                <tr>
                    <td> <%= contador+1 %></td>
                    <td> <%= users[contador].name %> </td>
                    <td> <%= users[contador].email %> </td>
                    
                    <td><%= users[contador].gender %></td>
                    <td> <%= users[contador].status %> </td>

                    <td>
                        <a href="/update-user" class="btn border-shadow update"> 
                            <span class="text-gradient"><i class="fas fa-pencil-alt"> </i> </span>
                        </a>
                        <a class="btn border-shadow delete"> 
                            <span class="text-gradient"><i class="fas fa-times"> </i> </span>
                        </a>

                    </td>
                </tr>

                <%} %>
               </tbody>